body{
    margin: 0;
}

.bigCon{
    display: flex;
    width: 100vw;
    height: 100vh;
}

.stripCon{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.profile{
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 100vh;
    overflow: auto;

    background-color: black;
    /* background-image: linear-gradient(to right , rgb(33, 33, 33), black, black, rgb(33,33,33)); */
}

h1{
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
    font-size: 50px;
    text-align: center;
    color: rgb(60, 60, 60);
    position: sticky;
    display: block;
    background-color: rgb(255, 234, 0);
    margin: 0;
}

.profile img{
    width: 70%;
    padding: 10px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}

/* img:hover{
    transform: scale(2);
    z-index: 1000000;
} */

#altThumbnail{
    width: 40%;
    transform: rotate(10deg);
}

/* .ak{
    background-color: rgb(0, 102, 255);
}

.rr{
    background-color: greenyellow;
}

.wh{
    background-color: rgb(186, 47, 255);
}

.wt{
    background-color: rgb(255, 168, 47);
}

.yz{
    background-color: rgb(252, 47, 255);
} */